.container {

    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .album__card {
        width: 80%;
        margin: 1rem;
        padding: .5rem;
        justify-content: center;

        .img__holder {
            width: 90%;
            padding: .5rem;

            img {
                height: 99%;
            }
        }
    }
    .album__info {
        border: 0;
        width: 90%;
        height: 241px;
        justify-content: center;
        padding: .5rem;
    }
}

$breakpoint-mobile: 428px;
@media (max-width: $breakpoint-mobile) {

   .container {
       display: grid;
       width: 100%;
       grid-template-columns:  repeat(1,1fr);
       justify-content: center;
       align-items: center;

       .album__card {
           width: 100%;
           position: relative;
           right: 0%;
       }
   }
}    

$breakpoint-mobile: 390px;
@media (max-width: $breakpoint-mobile) {
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        .album__card {
            position: relative;
            right: 0%;
        }
    }
}