
.container {
    position: relative;
    bottom: 4rem;
    margin: 0 auto;
    width: 50%;

    .main {

        .text_wrap {
            text-align: center;
        }

        .img_wrap {
            position: relative;
            left: 5rem;
        }

        
    }

}
