
.container {
    display: grid;
    margin: 0 auto;
    width: 100%;

        .img_wrap {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem; 
            width: 85%;
            position: relative;
            left: 7%;
        }

        .nav__bar {
            width: 100%;
            
        }    
}
    

$breakpoint-mobile: 428px;
@media (max-width: $breakpoint-mobile) {

    .container {
        display: flex;

        .img_wrap {
            display: grid;
            grid-template-columns: repeat(1, 1fr) ;
            width: 120%;
        }
    }
   
} 