
.container {
    display: grid;
    margin: 0 auto;
    width: 100%;

    .cover__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        bottom: 5rem;
        .img__holder {
            width: 50%;
            padding: 2rem;
        }
        
        .album__info{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .album__player {
                border: 0;
                width: 400px;
                height: 472px;
            }
        }



    }

        .img_wrap {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem; 
            width: 85%;
            position: relative;
            left: 7%;
        }

        .nav__bar {
            width: 100%;
            
        }    
}

.container__mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    .mobile__album {
        width: 100%;
        max-width: 660px;
        overflow: hidden;
        background: transparent;
    }
}
    

$breakpoint-mobile: 428px;
@media (max-width: $breakpoint-mobile) {

    .container {
        display: flex;
        display: none;

        .img_wrap {
            display: grid;
            grid-template-columns: repeat(1, 1fr) ;
            width: 120%;
        }
    }
   
} 